[submodule "UnitTests/google"]
	path = UnitTests/google
	url = https://github.com/google/googletest.git
[submodule "Encryption"]
	path = Encryption
	url = https://github.com/utelle/SQLite3MultipleCiphers.git
	tag = v2.1.0
