./lib
UnitTests/out
./build
UnitTests/DBTest/
build/
SQLCPPBridgeFramework.xcodeproj/xcuserdata
SQLCPPBridgeFramework.xcodeproj/project.xcworkspace/xcuserdata
out
.vs/
*.tlog
*.idb
SQLCPPBridgeMSVS/Debug/
SQLCPPBridgeMSVS/SQLiteLib/Debug/
SQLCPPBridgeMSVS/UnitTests/Debug/
SQLCPPBridgeMSVS/SQLiteLib/x64/
SQLCPPBridgeMSVS/x64/
